@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
}

body {
    width: 100%;
}

.hero-section {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(255, 255, 255)), url(Assets/images/bg-header-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section img {
    margin-bottom: 3rem;
}

.hero-section h1 {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero-section p {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 1.3rem;
    /* width: 35%; */
    text-align: center;
    line-height: 2rem;
    margin-bottom: 2.5rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.btn-1 {
    background-color: hsl(171, 66%, 44%);
    color: white;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn-2 {
    background-color: hsl(233, 100%, 69%);
    color: white;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn-1:hover {
    box-shadow: 2px 6px 15px rgba(38, 186, 164, 0.377);
    background-color: hsl(171, 66%, 58%);
}

.btn-2:hover {
    box-shadow: 2px 6px 15px rgba(97, 115, 255, 0.377);
    background-color: hsl(233, 100%, 76%);
}