* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.hero-section {
    background: linear-gradient(rgb(231, 13, 13), rgba(0, 0, 0, 0.5) url(Assets/images/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}